# Various
LOGLEVEL='debug'
HTTP_BIND_ADDR='0.0.0.0:3000'
ENABLE_ACCESS_LOGS='true'
SQLITE_PATH='start-service.db'
GUI_USERNAME='your_username'
GUI_PASSWORD='your_password'
API_USERNAME='api_user'
API_PASSWORD='api_password'

# Mailer
MAILER_SMTP_HOST=''
MAILER_SMTP_PORT=587
MAILER_SMTP_USERNAME=''
MAILER_SMTP_PASSWORD=''
MAILER_SMTP_FROM=''
MAILER_EMAIL_PRIVATE=''
MAILER_EMAIL_WORK=''
STORAGE_UPLOAD_DIR='./upload-target'
